<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hm.sys.dao.AccountInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hm.sys.entity.AccountInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="DATE" />
    <result column="man_count" property="manCount" jdbcType="INTEGER" />
    <result column="order_count" property="orderCount" jdbcType="INTEGER" />
    <result column="order_money" property="orderMoney" jdbcType="DOUBLE" />
    <result column="cash_count" property="cashCount" jdbcType="DOUBLE" />
    <result column="checkin_count" property="checkinCount" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, day, man_count, order_count, order_money, cash_count, checkin_count
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hm.sys.entity.AccountInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from account_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from account_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from account_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hm.sys.entity.AccountInfoExample" >
    delete from account_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hm.sys.entity.AccountInfo" >
    insert into account_info (id, day, man_count, 
      order_count, order_money, cash_count, 
      checkin_count)
    values (#{id,jdbcType=INTEGER}, #{day,jdbcType=DATE}, #{manCount,jdbcType=INTEGER}, 
      #{orderCount,jdbcType=INTEGER}, #{orderMoney,jdbcType=DOUBLE}, #{cashCount,jdbcType=DOUBLE}, 
      #{checkinCount,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.hm.sys.entity.AccountInfo" >
    insert into account_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="manCount != null" >
        man_count,
      </if>
      <if test="orderCount != null" >
        order_count,
      </if>
      <if test="orderMoney != null" >
        order_money,
      </if>
      <if test="cashCount != null" >
        cash_count,
      </if>
      <if test="checkinCount != null" >
        checkin_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        #{day,jdbcType=DATE},
      </if>
      <if test="manCount != null" >
        #{manCount,jdbcType=INTEGER},
      </if>
      <if test="orderCount != null" >
        #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="orderMoney != null" >
        #{orderMoney,jdbcType=DOUBLE},
      </if>
      <if test="cashCount != null" >
        #{cashCount,jdbcType=DOUBLE},
      </if>
      <if test="checkinCount != null" >
        #{checkinCount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hm.sys.entity.AccountInfoExample" resultType="java.lang.Integer" >
    select count(*) from account_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update account_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.day != null" >
        day = #{record.day,jdbcType=DATE},
      </if>
      <if test="record.manCount != null" >
        man_count = #{record.manCount,jdbcType=INTEGER},
      </if>
      <if test="record.orderCount != null" >
        order_count = #{record.orderCount,jdbcType=INTEGER},
      </if>
      <if test="record.orderMoney != null" >
        order_money = #{record.orderMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.cashCount != null" >
        cash_count = #{record.cashCount,jdbcType=DOUBLE},
      </if>
      <if test="record.checkinCount != null" >
        checkin_count = #{record.checkinCount,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update account_info
    set id = #{record.id,jdbcType=INTEGER},
      day = #{record.day,jdbcType=DATE},
      man_count = #{record.manCount,jdbcType=INTEGER},
      order_count = #{record.orderCount,jdbcType=INTEGER},
      order_money = #{record.orderMoney,jdbcType=DOUBLE},
      cash_count = #{record.cashCount,jdbcType=DOUBLE},
      checkin_count = #{record.checkinCount,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hm.sys.entity.AccountInfo" >
    update account_info
    <set >
      <if test="day != null" >
        day = #{day,jdbcType=DATE},
      </if>
      <if test="manCount != null" >
        man_count = #{manCount,jdbcType=INTEGER},
      </if>
      <if test="orderCount != null" >
        order_count = #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="orderMoney != null" >
        order_money = #{orderMoney,jdbcType=DOUBLE},
      </if>
      <if test="cashCount != null" >
        cash_count = #{cashCount,jdbcType=DOUBLE},
      </if>
      <if test="checkinCount != null" >
        checkin_count = #{checkinCount,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hm.sys.entity.AccountInfo" >
    update account_info
    set day = #{day,jdbcType=DATE},
      man_count = #{manCount,jdbcType=INTEGER},
      order_count = #{orderCount,jdbcType=INTEGER},
      order_money = #{orderMoney,jdbcType=DOUBLE},
      cash_count = #{cashCount,jdbcType=DOUBLE},
      checkin_count = #{checkinCount,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>