<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hm.sys.dao.CommonDao" >
  

  
  
  <!-- ============叶云彤============ -->
  <!-- =============↓=============== -->
  <!-- =======多表连差,分页查询 ========-->
  <!-- =============↓=============== -->
    <select id="findPageObjects"
            resultType="com.hm.common.vo.CustomerAllInfo">
         SELECT 
         	b.id,b.customer_name,b.gender,b.country,b.telephone,a.card_type,b.card_num,b.operator,b.createdTime,b.modifiedTime 
		 FROM 
		 	customer_card_type a 
		 JOIN 
		 	customer_info b 
		 ON 
		 	a.id=b.id
		  limit 
		      #{startIndex},#{pageSize}
    </select>
    
    
    <select id="getRowCount"
            resultType="int">
          select count(*)
          from customer_info
          <include refid="queryWhereId"/>
</select>


 <sql id="queryWhereId">
          <where>
            <if test="name!=null and name!=''">
               name like concat("%",#{name},"%")
            </if>
          </where>
    </sql>
  
  </mapper>