<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hm.sys.dao.RoomInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.hm.sys.entity.RoomInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="rt_id" property="rtId" jdbcType="INTEGER" />
		<result column="room_name" property="roomName"
			jdbcType="VARCHAR" />
		<result column="room_add" property="roomAdd" jdbcType="VARCHAR" />
		<result column="bed_num" property="bedNum" jdbcType="INTEGER" />
		<result column="stat_id" property="statId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, rt_id, room_name, room_add, bed_num, stat_id
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.hm.sys.entity.RoomInfoExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from room_info
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from room_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from room_info
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.hm.sys.entity.RoomInfoExample">
		delete from room_info
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.hm.sys.entity.RoomInfo">
		insert into room_info (id, rt_id, room_name,
		room_add, bed_num, stat_id
		)
		values (#{id,jdbcType=INTEGER}, #{rtId,jdbcType=INTEGER},
		#{roomName,jdbcType=VARCHAR},
		#{roomAdd,jdbcType=VARCHAR}, #{bedNum,jdbcType=INTEGER}, #{statId,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.hm.sys.entity.RoomInfo">
		insert into room_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="rtId != null">
				rt_id,
			</if>
			<if test="roomName != null">
				room_name,
			</if>
			<if test="roomAdd != null">
				room_add,
			</if>
			<if test="bedNum != null">
				bed_num,
			</if>
			<if test="statId != null">
				stat_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="rtId != null">
				#{rtId,jdbcType=INTEGER},
			</if>
			<if test="roomName != null">
				#{roomName,jdbcType=VARCHAR},
			</if>
			<if test="roomAdd != null">
				#{roomAdd,jdbcType=VARCHAR},
			</if>
			<if test="bedNum != null">
				#{bedNum,jdbcType=INTEGER},
			</if>
			<if test="statId != null">
				#{statId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.hm.sys.entity.RoomInfoExample"
		resultType="java.lang.Integer">
		select count(*) from room_info
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update room_info
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.rtId != null">
				rt_id = #{record.rtId,jdbcType=INTEGER},
			</if>
			<if test="record.roomName != null">
				room_name = #{record.roomName,jdbcType=VARCHAR},
			</if>
			<if test="record.roomAdd != null">
				room_add = #{record.roomAdd,jdbcType=VARCHAR},
			</if>
			<if test="record.bedNum != null">
				bed_num = #{record.bedNum,jdbcType=INTEGER},
			</if>
			<if test="record.statId != null">
				stat_id = #{record.statId,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update room_info
		set id = #{record.id,jdbcType=INTEGER},
		rt_id = #{record.rtId,jdbcType=INTEGER},
		room_name = #{record.roomName,jdbcType=VARCHAR},
		room_add = #{record.roomAdd,jdbcType=VARCHAR},
		bed_num = #{record.bedNum,jdbcType=INTEGER},
		stat_id = #{record.statId,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.hm.sys.entity.RoomInfo">
		update room_info
		<set>
			<if test="rtId != null">
				rt_id = #{rtId,jdbcType=INTEGER},
			</if>
			<if test="roomName != null">
				room_name = #{roomName,jdbcType=VARCHAR},
			</if>
			<if test="roomAdd != null">
				room_add = #{roomAdd,jdbcType=VARCHAR},
			</if>
			<if test="bedNum != null">
				bed_num = #{bedNum,jdbcType=INTEGER},
			</if>
			<if test="statId != null">
				stat_id = #{statId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.hm.sys.entity.RoomInfo">
		update room_info
		set rt_id = #{rtId,jdbcType=INTEGER},
		room_name = #{roomName,jdbcType=VARCHAR},
		room_add = #{roomAdd,jdbcType=VARCHAR},
		bed_num = #{bedNum,jdbcType=INTEGER},
		stat_id = #{statId,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>