<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hm.sys.dao.SysDeptsDao" >

  <select id="getObjects" resultType="map">
         select c.*,(select name
                     from sys_depts p 
                     where c.parentId=p.id)  parentName
         from sys_depts c
    </select>
  
   <update id="updateByPrimaryKey" parameterType="com.hm.sys.entity.SysDepts" >
    update sys_depts
    set name = #{name,jdbcType=VARCHAR},
      parentId = #{parentid,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR},
      createdTime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedTime = #{modifiedtime,jdbcType=TIMESTAMP},
      createdUser = #{createduser,jdbcType=VARCHAR},
      modifiedUser = #{modifieduser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <insert id="insert" parameterType="com.hm.sys.entity.SysDepts" >
    insert into sys_depts (id, name, parentId, 
      sort, note, createdTime, 
      modifiedTime, createdUser, modifiedUser
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR}, #{createdtime,jdbcType=TIMESTAMP}, 
      #{modifiedtime,jdbcType=TIMESTAMP}, #{createduser,jdbcType=VARCHAR}, #{modifieduser,jdbcType=VARCHAR}
      )
  </insert>
  
   <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_depts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  <!-- 查询子部门数量 -->
  <select id="getChildCount" parameterType="int" resultType="int">
	
	select count(*) from sys_depts where parentId=#{id}

	</select>
	
	<!-- 定义一个Node对象,借助此对象封装从数据库查询到的数据 -->
	 <select id="findZtreeDeptNodes"
            resultType="com.hm.sys.vo.Node">
        select id,name,parentId
        from sys_depts        
    </select>
</mapper>