<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hm.sys.dao.SysLogsDao" >
  
   <!-- 分页查询 -->
    <select id="getObjects"
            resultType="com.hm.sys.entity.SysLogs">
          select *
          from sys_logs
          <include refid="queryWhereId"/>
          order by createdTime desc
  		limit #{startIndex},#{pageSize}
    </select>
    <!-- 查询条件相关信息条数 -->
    <select id="getRowCount"
            resultType="int">
          select count(*)
          from sys_logs
          <include refid="queryWhereId"/>
</select>
 <sql id="queryWhereId">
          <where>
            <if test="username!=null and username!=''">
               username like concat("%",#{username},"%")
            </if>
          </where>
    </sql>
    
    <delete id="deleteObjects">
    delete from sys_logs where id in
    	<foreach collection="ids" item="logid" open="(" close=")" separator="," >
                    #{logid}
        </foreach>
    </delete>
    
     <insert id="insert" parameterType="com.hm.sys.entity.SysLogs" >
    insert into sys_logs (id, username, operation, 
      method, params, time, 
      ip, createdTime)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{operation,jdbcType=VARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, #{time,jdbcType=BIGINT}, 
      #{ip,jdbcType=VARCHAR}, #{createdtime,jdbcType=TIMESTAMP})
  </insert>
</mapper>